{% load static %}

<html>

<head>
    <title>SimpleCapp</title>
</head>

<body>
    <div style="background-color: #F7DE50; position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    z-index: 1000;
                    vertical-align:middle; text-align:center;"><img src="{% static 'images/simplecapp.png'%}" alt="">
        <p style="color: #949597;font-family:Georgia, 'Times New Roman', Times, serif; font-size:xxx-large;">
            SimpleCapp
        </p>
    </div>
</body>F

</html>